<section class="ftco-section">
  <div class="container mt-5">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2>Universal Donors and Recipients</h2>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
        <a
          class="image d-flex justify-content-center align-items-center"
          style="background-image: url('images/donate.jpg'); "
          data-scrollax=" properties: { translateY: '-30%'}"
        >
          <div
            class="icon d-flex text-center justify-content-center align-items-center"
          >
            <span class="icon-search"></span>
          </div>
        </a>
        <div class="text">
        <p>
            <font color="black">The most common blood type is O, followed by type A.
        </p>
        <p>Type O individuals are often called "universal donors" since their blood can be transfused into
            persons with any blood type. </p>
        <p>Those with type AB blood are called "universal recipients" because they can
            receive blood of any type.</p>
        <p>However, since approximately twice as many people in the general population have O and A blood types,<br />
            a bloodbank's need for this type of blood increases exponentially.</p>
        </font>
          
        </div>
      </div>
     
  </div>
</section>
